.body{
    display: flex;
    justify-content: center;
    padding-top: 10px;  
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgrey;
    height: 200px;
    width: 1000px;
    border: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    
}
.title{
    font-size: 40px;
}
.price{
    font-size: 25px;
    padding-top: 30px;
   
}
.deliver{
    font-size: 20px;
    padding-top: 30px;

}
.location{
    font-size: 20px;
}